/*.suo
/ProfitController/bin/Debug/ProfitController.exe
/ProfitController/bin/Debug/ProfitController.exe.config
/ProfitController/bin/Debug/ProfitController.pdb
/ProfitController/bin/Debug/ProfitController.vshost.exe
/ProfitController/bin/Debug/ProfitController.vshost.exe.config
/ProfitController/obj/Debug/App.g.cs
/ProfitController/obj/Debug/App.g.i.cs
/ProfitController/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ProfitController/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/ProfitController/obj/Debug/MainWindow.baml
/ProfitController/obj/Debug/MainWindow.g.cs
/ProfitController/obj/Debug/MainWindow.g.i.cs
/ProfitController/obj/Debug/ProfitController.Properties.Resources.resources
/ProfitController/obj/Debug/ProfitController.csproj.FileListAbsolute.txt
/ProfitController/obj/Debug/ProfitController.csproj.GenerateResource.Cache
/ProfitController/obj/Debug/ProfitController.csprojResolveAssemblyReference.cache
/ProfitController/obj/Debug/ProfitController.exe
/ProfitController/obj/Debug/ProfitController.g.resources
/ProfitController/obj/Debug/ProfitController.pdb
/ProfitController/obj/Debug/ProfitController_MarkupCompile.cache
/ProfitController/obj/Debug/ProfitController_MarkupCompile.i.cache
/ProfitController/obj/Debug/ProfitController_MarkupCompile.lref
/ProfitController/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ProfitController/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ProfitController/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Tree/bin/Debug/Tree.dll
/Tree/bin/Debug/Tree.pdb
/Tree/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Tree/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Tree/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Tree/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Tree/obj/Debug/Tree.csproj.FileListAbsolute.txt
/Tree/obj/Debug/Tree.csprojResolveAssemblyReference.cache
/Tree/obj/Debug/Tree.dll
/Tree/obj/Debug/Tree.pdb
/ProfitController/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/ProfitController/obj/Debug/ProfitController_MarkupCompile.i.lref
/ProfitController/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ProfitController/gc1tdr3f.jpr
/ProfitController/bin/Debug/Tree.pdb
/ProfitController/bin/Debug/Tree.dll
